:root {
  --background-color: #202020;
  --header-color: white;
  --text-color: #cdcdcd;
  --link-color: #5eaaff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--background-color);
  font-family: Inter, sans-serif;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  position: relative;
}

pre, code {
  font-family: "JetBrains Mono", monospace;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

.main-nav {
  padding-bottom: 1em;
  border-bottom: 1px solid #737373;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 612px;
  max-width: 100%;
  padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  letter-spacing: -4%;
  color: var(--header-color);
}

code {
  font-size: 0.8em;
}

p {
  font-weight: 500;
  letter-spacing: -5%;
}

.posts-info-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  font-size: 0.9em;
}

.post-info {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

article {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.post-content {
  display: flex;
  flex-direction: column;
  gap: 1em;

  img {
    width: 100%;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
  }
}

header {
  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
  }
}

.zola-anchor {
  color: var(--text-color);
  visibility: hidden;
}

.post-content {
  h1, h2, h3, h4, h5, h6 {
    display: flex;
    gap: 0.2em;
  }
  h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
    .zola-anchor {
      visibility: visible;
    }
  }
}

.post-title {
  font-weight: 600;
}

.post-content > p > img {
  cursor: pointer;
}

.img-modal-content {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;

  .img-modal-image {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 1024px;
      max-width: 90%;
    }
  }

  .close {
    position: absolute;
    top: 2.5%;
    right: 5%;
    font-size: 2.5em;
    background: none;
    color: var(--text-color);
    border: none;
    cursor: pointer;
  }
}

// code block
.giallo {
  background: #1e1e1e;
  padding: 1em 0;

  border-radius: 0.5em;
  overflow-x: auto;
}

pre::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

pre::-webkit-scrollbar-track {
  border-radius: 10px;
}

pre::-webkit-scrollbar-thumb {
  background: #4a4a4a;
  border-radius: 10px;
  border: 2px solid #22262f;
}

pre::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.giallo-ln {
  user-select: none;
  padding-left: 1.5em;
  padding-right: 1em;
}
