{% macro post_info(post) %}
<div class="post-info">
    <h1 class="post-title">{{ post.title }}</h1>
    <div style="display: flex; gap: 1em; flex-wrap: wrap;">
        <span>Reading time: {{ post.reading_time }} minutes</span>
        <p>Posted at: {{ post.date | date(format="%B %e, %Y • %l:%M %p") }}</p>
    </div>
    <div>
        <p>
            {{ post.description }}
        </p>
        <a style="text-decoration: underline" href="{{ post.permalink | safe }}">Read more</a>
    </div>
</div>
{% endmacro page_info %}